/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Contenedor pa' el título */
.title-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Barra de navegación */
nav {
    background-color: #333;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Contenedor pa' authors */
.authors-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Author card */
.author-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 280px;
    box-sizing: border-box;
}

/* Styles pa' el nombre de Author */
.author-card h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #333;
}

/* Author detalles */
.author-card p {
    font-size: 1.1em;
    color: #666;
    margin: 5px 0;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .authors-container {
        padding: 10px;
    }

    .author-card {
        width: 100%;
        max-width: none;
    }
}
